/* media query screen < 420p */


@media only screen and (max-width: 419px) {
  body {
    font-size: 1.1em;
  }

  .row {
    width: 95%;
    margin-top: 0px;
  }

  .row img {
    width: 40%;
    height: auto;
    margin-top: 25px;
  }

  #lezioni .row > .left, #lezioni .row > .right{
    width: 95%;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    width: 95%;
    float: none;
  }

  #why .row > .first {
    margin-top: 0;
  }


}
